

<footer class="bg-black relative flex justify-end items-end lg:min-h-[416px]">
    <img class="absolute bottom-0 left-0" src="../assets/footer.svg"/>
    <div class="mx-auto w-full  max-w-screen-xl p-4 py-6 ">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <img src="../../assets/Protean Logo.svg" class=" me-3" alt="FlowBite Logo" />
    
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
              <div>
                  <h2 class="mb-6 text-sm  text-gray-900 uppercase dark:text-white">Home</h2>
                  <ul class="text-white  font-medium">
                      <li class="mb-4">
                          <a href="" class="hover:underline">About Protean</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">Contact US</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-white">TIN Facilitation Centers</h2>
                  <ul class="text-white  font-medium">
                    <li class="mb-4">
                        <a href="" class="hover:underline">Guided Tour</a>
                    </li>
                    <li>
                        <a href="" class="hover:underline">Publications</a>
                    </li>
                </ul>
              </div>
              <div>
                <h2 class="mb-6 text-sm font-semibold text-white">Related Links</h2>
                <ul class="text-white  font-medium">
                  <li class="mb-4">
                      <a href="" class="hover:underline">Site MAP</a>
                  </li>
                  <li>
                      <a href="" class="hover:underline">Disclaimer</a>
                  </li>
              </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-white">Privacy Policy</h2>
                <ul class="text-white  font-medium">
                  <li class="mb-4">
                      <a href="" class="hover:underline">Terms and Condition</a>
                  </li>
                  <li>
                      <a href="" class="hover:underline">Hyperlinking Policy</a>
                  </li>
              </ul>
            </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Updated as on 2024-01-31 12:00 PM
          </span>
          <div class="flex flex-col mt-4 sm:justify-center sm:mt-0">
                <p class="text-[#FFFFFF] text-[14px] font-light">Copyright © 2023 | Protean eGov Technologies Limited (Formerly NSDL e-Governance Infrastructure Limited)</p>
                <p class="text-[#FFFFFF] text-[14px] font-light">Site best viewed in IE 11+, Google Chrome 61+, Mozilla Firefox 50+, Microsoft Edge 14+ and Safari for Mac 5.1+.</p>

          </div>
      </div>
    </div>
</footer>
